
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #12b200;
}

.game-board {
    position: relative;
    width: 100%;
    height: 700px;
    padding-top: 5%;
    border: 2px solid #333;
    margin: 0 auto;
    border-bottom: 10px solid #12b200;
    background: linear-gradient(to top, #ffffff, #00fff7);
    overflow: hidden;
}

#restart {
    position: absolute;
    width: 230px;
    height: 50px;
    top: 30%;
    right: 48%;
    color: #ede900;
    background-color: aliceblue;
    border-radius: 6px;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    font-family: 'Super Mario World Text Box', sans-serif;
    font-size: 30px;
    z-index: 1;
    transform: translate(30%, 42%);
}

.title {
    position: absolute;
    background-color: transparent;
    top: 5%;
    right: 45%;
    width: 12%;
    z-index: 2;
}

.clouds {
    position: absolute;
    background-color: transparent;
    bottom: 43%;
    animation: cloud 10s infinite linear;
}

.clouds2 {
    position: absolute;
    background-color: transparent;
    bottom: 30%;
    animation: clouds 15s infinite linear;
}

.clouds3 {
    position: absolute;
    background-color: transparent;
    bottom: 34%;
    animation: clouds 35s infinite linear;
}

.jump {
    animation: jump 800ms ease-in-out;
    transform: translateY(40px) scale(0.6);
}

.mario {
    position: absolute;
    background-color: transparent;
    width: 120px;
    bottom: -3%;
}

.mario-jump {
    display: none;  
    height: 100px;
}

.tunel {
    position: absolute;
    background-color: transparent;
    width: 80px;
    bottom: -0.75%;
    right: 90%;
    animation: tunel-animation 3s linear infinite;
}

.score {
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: 60px;
    top: 10%;
    right: 10%;
    color: #ede900;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    font-family: 'Super Mario World Text Box', sans-serif;
    font-size: 30px;
    z-index: 1;
}

.high-score {
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: 60px;
    top: 8.3%;
    left: 4%;
    color: #ede900;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    font-family: 'Super Mario World Text Box', sans-serif;
    font-size: 30px;
    z-index: 1;
}

@keyframes tunel-animation {
    from {
        right: -5%;
    }
    to {
        right: 105%;
    }
}

@keyframes jump {
    0% {
        bottom: -3%;
    }
    40% {
        bottom: 40%;
    }
    50% {
        bottom: 40%;
    }
    60% {
        bottom: 40%;
    }
    100% {
        bottom: -3%;
    }
}

@keyframes cloud {
    from {
        right: -80%;
    }
    to {
        right: 100%;
    }

}

@keyframes clouds {
    from {
        right: -180%;
    }
    to {
        right: 150%;
    }

}